version: "3.9"

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: data-interpret-backend
    env_file:
      - ./server/.env
    ports:
      - "5005:5005"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3001/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - appnet

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: data-interpret-frontend
    depends_on:
      - backend
    ports:
      - "9011:80"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge